.tableSiteBanner img {
  height: 150px;
}
#turnAroundTbl {
  display: none;
}
#sideBarNav {
  display: none;
}
button.btnContinueShop {
  display: none;
}
.cart-warning {
  color: orange;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
}
.catalogTbl {
  background-color: #efefef;
  border-radius: 0px;
  padding: 12px;
}
table.tableMain {
  top: 0px;
  max-width: 1600px;
  margin-top: 0 !important;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
}
#searchbar input[type="text"] {
  width: 27px;
  margin-right: 10px;
}
#catalogWrap {
  border-radius: 0px;
  padding: 12px;
  margin: 12px;
}
