.tableSiteBanner img {
  height: 150px;
}
#turnAroundTbl {
  display: none;
}
#sideBarNav {
  display: none;
}
button.btnContinueShop {
  display: none;
}
.cart-warning {
  color: orange;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
}
.catalogTbl {
  background-color: #fff;
  border-radius: 0px;
  padding: 12px;
}
