.tableSiteBanner img {
  height: 120px;
}
.size_chart {
  background: transparent !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin: 0 !important;
  line-height: 1;
  box-align: left;
}
.size_chart a.specsheet-link {
  all: unset;
  cursor: pointer;
  color: inherit;
  display: inline;
  line-height: 1;
  background: transparent !important;
  color: blue;
}
