table#price-tier-table {
  border-collapse: collapse;
  margin-top: 12px;
}

#price-tier-table thead td {
  background-color: #e11b2e;
  color: #fff;
  padding: 8px;
}

#price-tier-table tbody td {
  padding: 6px;
  border: 1px solid #eee;
  background-color: #ffe;
}
