/*Creates a "New" badge on catalog page*/
.newItemBadge {
  background-color: #2d3838;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px;
  border-radius: 6px;
  font-weight: bold;
  color: #f1cf7a;
}
/*Hides new badge on add to cart page */
.buttonContainer .newItemBadge {
  display: none;
}
.tableSiteBanner img {
  height: 150px;
}
