.tableSiteBanner img {
  height: 100px;
}
div.spriteLayer {
  border: 1px solid;
}
#loginWrapper {
  width: 100%;
  background-color: var(--loginbar-bg);
  padding: 0px 32px;
  box-shadow: 0px 0px 0px rgb(255, 255, 255) !important;
}
table.tableMain {
  top: auto !important; /* Ensure no top value is applied */
  max-width: 1600px;
  margin: auto !important;
}
#headWrapper {
  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
  width: 100%;
  background-color: var(--navbar-bg);
}
#menu li a {
  position: relative;
  display: inline-block;
  color: #67a042;
}

#menu li a .badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #ff3b3b;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 12px;
  padding: 2px 6px;
  line-height: 1;
}
