.tableSiteBanner img {
  height: 100px;
}
#loginWrapper {
  width: 100%;
  background-color: var(--loginbar-bg);
  padding: 0px 32px;
  /*box-shadow: 0px 5px 9px rgb(0 0 0 / 34%);*/
}
table.tableMain {
  top: auto !important; /* Ensure no top value is applied */
  max-width: 1600px;
  margin: auto !important;
  padding: 0px !important;
}
