@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* 
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
*/

:root {
  --body-bg: #fff;

  --navbar-bg: #e9e9e9;
  --navbar-text: #000;
  --navbar-hover: #333;

  --loginbar-bg: #cfcfcf;
  --loginbar-text: #000;
  --loginbar-hover: red;

  --primary-color: #e9e9e9;
  --primary-text: #000;
  --primary-hover: #333;

  --secondary-color: #cfcfcf;
  --secondary-text: #000;
  --secondary-hover: red;

  --tag-brand-bg: #424a4a;
  --tag-brand-text: #eee;

  --tag-decoration-bg: #2980b9;
  --tag-decoration-text: #eee;

  --tag-dimensions-bg: #d35400;
  --tag-dimensions-text: #eee;

  --tag-packsize-bg: #c0392b;
  --tag-packsize-text: #eee;

  --tag-sku-bg: #3e3e3e;
  --tag-sku-text: #eee;
}

/* Dynamic Styling */
body {
  background-color: var(--body-bg);
}

.tableSiteBanner img {
  height: 80px;
  margin: 0;
}

div.anchorCatalog {
  background-color: var(--primary-color) !important;
}

#menu li a,
#menu li.menuG a,
#menu li:last-child a {
  color: var(--navbar-text) !important;
  padding: 10px 14px 10px 15px;
  background-color: transparent;
  font-weight: 700;
  transition: all 0.2s ease;
}

#menu li a:hover {
  color: var(--navbar-hover) !important;
}

#menu li a:before {
  opacity: 0;
  width: 0%;
}

#menu li.menuG a:before {
  opacity: 1;
  width: calc(100% - 30px);
}

#menu li a:before,
#menu li.menuG a:before {
  content: '';
  position: absolute;
  right: 15px;
  left: 15px;
  background-color: var(--navbar-hover);
  top: 28px;
  height: 2px;
  transition: all 0.2s ease;
}

#menu li a:hover:before {
  opacity: 1;
  width: calc(100% - 30px);
}

.login,
a.login {
  color: var(--loginbar-text) !important;
}

a.login:hover {
  color: var(--loginbar-hover) !important;
}

.ui-box header {
  background-color: var(--primary-color) !important;
  color: var(--primary-text) !important;
}

.cartPrice {
  color: var(--primary-text) !important;
}

#shoppingCartTbl .dtContent .cartPrice {
  color: #000 !important;
}

.ui-state-default {
  background-color: var(--primary-color) !important;
  color: var(--primary-text) !important;
  border-radius: 4px;
  border: none;
}
ul.TreeControl li.TCbullet {
  border-left: 5px solid transparent;
  padding: 4px 0;
}

ul.TreeControl li#active {
  border-bottom: none;
  border-left-color: var(--secondary-color);
}

.pw-img.download:before {
  color: var(--primary-text);
}

/* End Dynamic Styling */

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}
ul.TreeControl li a:hover {
  font-weight: 700;
}

#sideBarNav {
  width: 375px !important;
}

div#kit_status_container.fullscreen_kit {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  max-width: 100%;
}

div#kit_status_container {
  background-color: #252525;
  padding: 8px;
  border-radius: 8px;
  color: #eee;
  border: 3px solid #7a7a7a;
  max-width: 1600px;
  margin: 0 auto;
}

div#kit_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.kit_item_status p {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
}

div.source {
  font-size: 3rem;
  color: #000;
}

.hide_kit_details {
  display: none;
}

#mainContentSF {
  width: 100%;
  max-width: none;
  padding: 0 !important;
}

/* Navigation Styling */
#navWrapper {
  float: none;
  position: initial;
  margin: 0;
}

#headWrapper {
  padding: 24px 32px;
  width: 100%;
  background-color: var(--navbar-bg);
}

#logoLinks {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Login Bar Styling */
#loginWrapper {
  width: 100%;
  background-color: var(--loginbar-bg);
  padding: 0px 32px;
  box-shadow: 0px 5px 9px rgb(0 0 0 / 34%);
}

table.tableLogin {
  position: initial;
  float: none;
  max-width: 1600px;
  margin: 0 auto;
}

/* Main Table Styling */
table.tableMain {
  top: 0px;
  max-width: 1600px;
  margin: 16px auto;
}

#searchbar input[type='text'] {
  width: 27px;
}

.kitCell:hover {
  cursor: pointer;
}

.prodCell {
  padding: 8px !important;
  border: none;
  transition: all 0.2s ease;
}

.prodCell a:hover {
  transform: scale(1.05);
}

.prodCell h3 {
  text-align: left;
}

.prodCell .left a {
  background-color: #fff !important;
  display: block;
  border-radius: 8px;
  transition: all 0.2s ease;
  height: 250px;
}
span.zoom {
  z-index: 9999;
}

div.grid a.anchor {
  border-top: 1px solid #d3d3d3;
  border-radius: 5px;
}

div.spriteLayer {
  border: none;
  box-shadow: none !important;
}

.catalogTbl {
  background-color: #efefef;
  border-radius: 6px;
  padding: 12px;
}
ul.TreeControl {
  background-color: #efefef;
}

#catalogWrap {
  border-radius: 8px;
  padding: 8px;
}

#products {
  border: none !important;
}
span.meta .ui-state-default,
span.meta .ui-state-error {
  padding: 6px;
  width: fit-content;
}

#QLupload,
#QLmyLists {
  display: none;
}

img.finishedGoodThmb {
  height: 250px;
}

.prodCell.parentSubcategoryCell {
  background-color: #fff;
  margin: 10px;
  border-radius: 8px;
}

.subcategoryImage {
  height: 100%;
}

.parentSubcategoryCell img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 24px;
}

.parentSubcategoryCell:hover .browseBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.browseBtn {
  position: absolute;
  height: 100%;
  width: 100%;
}

.browseBtn span {
  position: unset;
}

#shoppingCartTbl {
  background: #fff;
  border-radius: 8px;
}
#shoppingCartTbl th.ui-state-default {
  border: none;
}

#shoppingCartTbl header.dark {
  border: none;
  padding: 12px;
}

th.ui-state-default:hover {
  background-color: var(--primary-color) !important;
}

.tblImage {
  border: none;
}
.prodCell .warningBox {
  display: none;
}
.disabled {
  opacity: 0.5;
}

/* Product Description Styling */
.prodCaption {
  text-align: left;
}
p.prod_sku {
  background-color: var(--tag-sku-bg);
  color: var(--tag-sku-text);
  width: fit-content;
  font-size: 0.8rem;
  margin-bottom: 12px !important;
}
.prod_info_tags {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  font-size: 0.85rem;
  max-width: 90%;
  margin-bottom: 8px;
}
.prod_info_tags p,
.prod_sku {
  background-color: #424a4a;
  color: #eee;
  height: fit-content;
  padding: 6px;
  border-radius: 4px;
  margin: 0 !important;
}
.prod_info_tags p:empty,
.prod_sku:empty {
  display: none;
}
p.tag_apparel_decoration {
  background-color: var(--tag-decoration-bg);
  color: var(--tag-decoration-text);
}
p.tag_print_dimensions {
  background-color: var(--tag-dimensions-bg);
  color: var(--tag-dimensions-text);
}
p.tag_packsize {
  background-color: var(--tag-packsize-bg);
  color: var(--tag-dimensions-text);
}

p.prod_desc {
  margin-bottom: 4px !important;
  min-height: 38px;
  white-space: wrap;
}
.apparel_colors {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  gap: 2px;
}
.color_swatch {
  height: 20px !important;
  width: 20px !important;
  border-radius: 100% !important;
  border: 1px solid #d4d4d4 !important;
}

.prodCell .left a.doURL {
  background-color: transparent !important;
}

div.downloadOnly {
  background-color: #3d3d3d !important;
  color: #fff !important;
}

.doURL .downloadOnly .download::before {
  color: #fff;
}

.downloadOnly {
  margin: 4px 0;
}

.tblPageEdit .active {
  background-color: var(--primary-color) !important;
  color: var(--primary-text) !important;
}

.tblPageEdit .ui-state-default {
  background-color: #eee !important;
}

.tblPageEdit .ui-state-default a {
  color: #000 !important;
}

.format_rules {
  text-align: left;
}
/* End of Product Description Styling */

th.ui-state-default {
  border-radius: 0px;
  padding: 4px !important;
  border: none !important;
}

#shipToBox header table {
  color: var(--primary-text);
}

.FedEx-email-notify {
  display: none;
}

#shipMethodBox header table {
  color: var(--primary-text);
}

div.grid a.anchor {
  height: auto;
}

#show_sample {
  box-sizing: content-box;
}

ul.dropdown-content {
  background-color: #eee;
  margin-right: 5px !important;
}

img#productImage {
  width: 400px;
  background-color: #fff;
  padding: 12px;
  border-radius: 10px;
}

/*
<div class='prod_desc_container' style='white-space:nowrap'>
<div class='apparel_colors' style='display:flex'>
<div class='color_swatch' style='border:1px solid black;height:20px;width:20px;background-color: #21262c;'></div>
<div class='color_swatch' style='border:1px solid black;height:20px;width:20px;background-color: #2d507b;'></div>
<div class='color_swatch' style='border:1px solid black;height:20px;width:20px;background-color: #fff;'></div>
</div>
<div class='prod_info_tags'>
<p class='tag_apparel_brand'>Richardson</p>
<p class='tag_apparel_decoration'>Patch on Front</p>
<p class='tag_print_dimensions'></p>
<p class='tag_packsize'></p>
</div>
<p class='prod_desc'>112 Tricolor Trucker Hat</p>
<p class='prod_sku'>FLY_INV_0007</p>
</div>
*/
