:root {
  --primary-color: black;
  --secondary-color: grey;
}

#mainContentSF {
  max-width: none;
  padding: 0 !important;
}

.logoLinks {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navWrapper {
  float: none;
  position: initial;
  margin: 0;
  padding: 24px 0;
}

table.tableLogin {
  position: initial;
  float: none;
  max-width: 1600px;
  margin: 0 auto;
}

table.tableMain {
  top: 0px;
  max-width: 1600px;
  margin: 0 auto;
}

.WrapperContainer {
  width: 100%;
  background-color: #313e3a;
}

.loginWrapper {
  background-color: #445f4f;
  padding: 0px 64px;
}
