#navWrapper {
  display: none;
}

.tableSiteBanner {
  text-align: center;
}

.tableSiteBanner img {
  height: 120px;
  display: inline-block;
}

#loginWrapper {
  width: 100%;
  height: 35px;
  background-color: var(--loginbar-bg);
  padding: 0px 32px;
  box-shadow: 0px 0px 0px rgb(255, 255, 255) !important;
}
