* {
  font-family: "program", "Poppins", sans-serif;
  font-size: 1.2rem;
}

body {
  background-image: url(https://firstgx.mypresswise.com/user/images/krispy-krunchy/KKC_Graphic.webp);
  background-position: bottom left;
}

.ship-message {
  background-color: #ffc4c4;
  max-width: 1600px;
  margin: 8px auto;
  border: 2px solid red;
  border-radius: 4px;
  font-size: 1.5rem;
  text-wrap: wrap;
  padding: 12px 32px;
  text-align: center;
}

.prodCell h3 {
  font-size: 1.3rem;
}

ul.TreeControl li.TCbullet a {
  font-size: 1.5rem;
}

#menu li a {
  font-size: 1.6rem;
}

.prodCell .left a:not(span.meta a) {
  border: 2px solid #eee;
}

.catalogTbl,
ul.TreeControl {
  background-color: #fff;
}

img.finishedGoodThmb,
.prodCell .left a {
  height: 400px;
}

.tableSiteBanner img {
  height: 120px;
}
