.tableSiteBanner img {
  height: 50px;
  margin: 0;
}

table.tableSiteBanner {
  position: initial;
  height: auto;
}

#headWrapper {
  padding: 16px;
}

tr.memoRow button#save-for-later,
button#view-pdf-proof,
button#copy-item {
  display: none;
}
