#direct-login-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 999;
  background-image: url('https://firstgx.mypresswise.com/user/images/Posigen/BGLogo.png');
  background-repeat: repeat;
  padding-top: 175px;
}
#LoginBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}
#LoginBtns a,
#LoginBtns button {
  background-color: #1a75bb;
  width: 250px;
  height: 75px;
  margin: 0 32px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  font-family: 'mr-eaves-xl-modern', sans-serif;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
}
#LoginBtns a:hover,
#LoginBtns button:hover {
  background-color: #004389 !important;
}
