.tableSiteBanner img {
  height: 100px;
}

#pricing-table,
#pricing-table tr,
#pricing-table th,
#pricing-table td {
  border: 1px solid black;
}

#pricing-table th,
#pricing-table td {
  padding: 4px;
}
#pricing-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 200px;
}
#pricing-table th {
  background-color: #4098cb;
  color: white;
}
.TCbullet a[alt="New Items"] {
  color: #ff0000 !important;
}

#stake-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
#stake-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}
#stake-exit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
