#quoteNameBox {
  display: none;
}
#custPOBox {
  margin: 0 auto;
  display: block;
  float: none;
}
/* Center the entire table horizontally */
table {
  margin: 0 auto;
}

/* Center content inside all table cells */
tbody#paywithnewcard td {
  text-align: center;
}

/* Center the .ui-box div inside the td with max width */
tbody#paywithnewcard td > .ui-box {
  max-width: 1000px;
  margin: 0 auto; /* horizontally center */
  text-align: center; /* center text inside */
}
